<div class="container contenedor">
    <article class="preciobajo">
        <div class="nombre">
          <h3 class="titulos bajo">Very Basic</h3>
          <hr>
        </div>
        <div class="descripcion">
          <h3>{{description}}</h3>
          <p>only few elements</p>
          <hr>
        </div>
        <div class="precio">
          <h3>{{price}}</h3>
          <p>{{num_basico | number:'1.0-2':'es-ES'}}€</p>
          <hr>
          <input class="boton" type="button" value="Buy this product">
        </div>

    </article>
    <article class="precionormal">
        <div class="nombre bueno">
          <h3 class="titulos">Good Choise</h3>
          <hr>
        </div>
        <div class="descripcion">
          <h3>{{description}}</h3>
          <p>the best choise</p>
          <hr>
        </div>
        <div class="precio">
          <h3>{{price}}</h3>
          <p>{{num_normal | number:'1.0-2':'es-ES'}}€<br/></p>
          <hr>
        </div>
        <div class="comprar"> 
          <input class="boton" type="button" value="Buy this product">
        </div>
        
        

    </article>
    <article class="precioalto">
        <div class="nombre">
          <h3 class="titulos alto">Just Happy</h3>
          <hr>
        </div>
        
        <div class="descripcion">
          <h3>{{description}}</h3>
          <p>all the advantages</p>
          <hr>
        </div>
        
        <div class="precio">
          <h3>{{price}}</h3>
          <p>{{num_especial | number:'1.0-2':'es-ES'}}€<br/></p>
          <hr>
          <input class="boton" type="button" value="Buy this product">
        </div>

    </article>
</div>