* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
.fomr{
    justify-content: center;
    display: flex;
    margin-top: 10px;

}
.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 10px;
    border: solid 2px black;
    
}
.boton_cont{
    background-color: red !important;
    color: white !important;
    width: calc(100% - 10px);
    margin: 5px;
}
.texto{
    width: calc(100% - 10px);
    margin: 5px;
}
hr{
    width: calc(100% - 10px);
    margin: 5px;
    background: linear-gradient(90deg, rgba(0,36,23,1) 0%, rgba(0,212,255,1) 61%);
    height: 10px;
}
.form_titulo{
margin-left: 5px;
}
.mensaje{
    width: calc(100% - 10px);
    margin: 5px;
}