<div class="container fomr">
    <div class="formulario">
      <h3 class="form_titulo">Contact us</h3>
      <hr>
      <input class="texto" type="text" name="Your name" placeholder="Your name">
      <input class="texto" type="text" name="Your email" placeholder="Your email">
      <input class="texto" type="text" name="Subject" placeholder="Subject">
      <textarea class="mensaje" name="message" rows="5" cols="20" placeholder="Message"></textarea>
      <input class="btn boton_cont" type="button" value="Send message">
      <hr>

    </div>

</div>